<!DOCTYPE html>
<html>

<head>
    <title>Event Manager</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>

<div class="navbar">
    <h1>Event Manager</h1>
</div>

<div class="container">

    <div class="card">

        <h2>Welcome to Event Manager</h2>

        <p>
            Manage events, publish them and allow attendees
            to make bookings online.
        </p>

    </div>

    <div class="home-links">

        <div class="home-card">

            <h2>Organiser Portal</h2>

            <p>Create and manage events.</p>

            <br>

            <a href="/organiser" class="btn btn-primary">
                Open Organiser
            </a>

        </div>

        <div class="home-card">

            <h2>Attendee Portal</h2>

            <p>Browse and book available events.</p>

            <br>

            <a href="/attendee" class="btn btn-success">
                Browse Events
            </a>

        </div>

    </div>

</div>

</body>
</html>